body{
    overflow:hidden;  

    display: flex;
	align-items: center;
	height: 100vh;
    background-attachment: fixed;
    background-size: 100%;
    background-image: 
    linear-gradient(
        rgba(26, 25, 25, 0.6), 
        rgba(20, 20, 20, 0.6)
    ),
    url(https://cdna.artstation.com/p/assets/images/images/000/390/646/4k/alex-gonzales-sr-paintover.jpg?1420569632);
}
